AutomatedTests/cypress/ExampleRequests/wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://brooks/SCSS.Source.CeisScss.ws.provider:CeisScss" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://brooks/SCSS.Source.CeisScss.ws.provider:CeisScss" targetNamespace="http://brooks/SCSS.Source.CeisScss.ws.provider:CeisScss">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://brooks/SCSS.Source.CeisScss.ws.provider:CeisScss">

    <xsd:element name="unlinkFile">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="physicalFileId" nillable="true" type="xsd:decimal"/>
                <xsd:element name="caseActionNumber" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="unlinkFileResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getCourtFile">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="physicalFileId" nillable="true" type="xsd:decimal"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getCourtFileResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="courtFile" nillable="true" type="tns:CourtFile"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="CourtFile">
        <xsd:sequence>
            <xsd:element name="courtFileNumber" nillable="true" type="xsd:string"/>
            <xsd:element name="courtLevelCode" nillable="true" type="xsd:string"/>
            <xsd:element name="courtClassCode" nillable="true" type="xsd:string"/>
            <xsd:element name="locationId" nillable="true" type="xsd:decimal"/>
            <xsd:element name="physicalFileId" nillable="true" type="xsd:decimal"/>
            <xsd:element name="styleOfCause" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="removeNotification">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="notificationId" nillable="true" type="xsd:decimal"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="removeNotificationResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="linkFile">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="physicalFileId" nillable="true" type="xsd:decimal"/>
                <xsd:element name="caseActionNumber" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="linkFileResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="linkId" nillable="true" type="xsd:decimal"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="partyNameSearch">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="filter" nillable="true" type="tns:PartyNameSearchFilter"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="PartyNameSearchFilter">
        <xsd:sequence>
            <xsd:element name="name" nillable="true" type="xsd:string"/>
            <xsd:element name="firstName" nillable="true" type="xsd:string"/>
            <xsd:element name="searchType" nillable="true" type="xsd:string"/>
            <xsd:element name="agencyId" nillable="true" type="xsd:decimal"/>
            <xsd:element name="courtLevel" nillable="true" type="xsd:string"/>
            <xsd:element name="courtClass" nillable="true" type="xsd:string"/>
            <xsd:element name="roleType" nillable="true" type="xsd:string"/>
            <xsd:element name="page" nillable="true" type="xsd:decimal"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="partyNameSearchResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="searchResults" nillable="true" type="tns:SearchResults"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="SearchResults">
        <xsd:sequence>
            <xsd:element name="page" nillable="true" type="xsd:decimal"/>
            <xsd:element name="recordsPerPage" nillable="true" type="xsd:decimal"/>
            <xsd:element name="totalRecords" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="unbounded" name="results" nillable="true" type="tns:CourtFile"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getCeisConnectInfo">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getCeisConnectInfoResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="connectionInfo" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="fileNumberSearch">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="filter" nillable="true" type="tns:FileNumberSearchFilter"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="FileNumberSearchFilter">
        <xsd:sequence>
            <xsd:element name="courtFileNumber" nillable="true" type="xsd:string"/>
            <xsd:element name="locationId" nillable="true" type="xsd:decimal"/>
            <xsd:element name="courtLevelCode" nillable="true" type="xsd:string"/>
            <xsd:element name="courtClassCode" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="fileNumberSearchResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="courtFiles" nillable="true" type="tns:CourtFile"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="hasNotification">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="physicalFileId" nillable="true" type="xsd:decimal"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="hasNotificationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="boolean" nillable="true" type="xsd:boolean"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getCourtBasics">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="physicalFileId" nillable="true" type="xsd:decimal"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getCourtBasicsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="caseBasics" nillable="true" type="tns:CaseBasics"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="CaseBasics">
        <xsd:sequence>
            <xsd:element name="courtLevelCode" nillable="true" type="xsd:string"/>
            <xsd:element name="courtClassCode" nillable="true" type="xsd:string"/>
            <xsd:element name="locationId" nillable="true" type="xsd:decimal"/>
            <xsd:element name="physicalFileId" nillable="true" type="xsd:decimal"/>
            <xsd:element name="fileAccessLevelCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" name="issues" nillable="true" type="tns:Issue"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Issue">
        <xsd:sequence>
            <xsd:element name="issueTypeCode" nillable="true" type="xsd:string"/>
            <xsd:element name="issueDescription" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getNotifications">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="physicalFileId" nillable="true" type="xsd:decimal"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getNotificationsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="notifications" nillable="true" type="tns:Notification"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="Notification">
        <xsd:sequence>
            <xsd:element name="notificationId" nillable="true" type="xsd:decimal"/>
            <xsd:element name="category" nillable="true" type="xsd:string"/>
            <xsd:element name="eventType" nillable="true" type="xsd:string"/>
            <xsd:element name="eventDatetime" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="status" nillable="true" type="xsd:string"/>
            <xsd:element name="statusDatetime" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="linkId" nillable="true" type="xsd:decimal"/>
            <xsd:element name="physicalFileId" nillable="true" type="xsd:decimal"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getAllNotifications">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getHealth">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getHealthResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="appid" nillable="true" type="xsd:string"/>
                <xsd:element name="method" nillable="true" type="xsd:string"/>
                <xsd:element name="status" nillable="true" type="xsd:string"/>
                <xsd:element name="host" nillable="true" type="xsd:string"/>
                <xsd:element name="instance" nillable="true" type="xsd:string"/>
                <xsd:element name="version" nillable="true" type="xsd:string"/>
                <xsd:element name="compatibility" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getPing">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getPingResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="status" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getAllNotificationsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="notifications" nillable="true" type="tns:Notification"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getParties">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="physicalFileId" nillable="true" type="xsd:decimal"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getPartiesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="parties" nillable="true" type="tns:CaseParty"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="CaseParty">
        <xsd:sequence>
            <xsd:element name="partyId" nillable="true" type="xsd:decimal"/>
            <xsd:element name="firstName" nillable="true" type="xsd:string"/>
            <xsd:element name="surname" nillable="true" type="xsd:string"/>
            <xsd:element name="organizationName" nillable="true" type="xsd:string"/>
            <xsd:element name="partyTypeCode" nillable="true" type="xsd:string"/>
            <xsd:element name="partyRoleCode" nillable="true" type="xsd:string"/>
            <xsd:element name="active" nillable="true" type="xsd:boolean"/>
            <xsd:element name="selfRepresented" nillable="true" type="xsd:boolean"/>
            <xsd:element name="addressFirstLine" nillable="true" type="xsd:string"/>
            <xsd:element name="addressSecondLine" nillable="true" type="xsd:string"/>
            <xsd:element name="city" nillable="true" type="xsd:string"/>
            <xsd:element name="province" nillable="true" type="xsd:string"/>
            <xsd:element name="postalCode" nillable="true" type="xsd:string"/>
            <xsd:element name="phoneNumber" nillable="true" type="xsd:string"/>
            <xsd:element name="extensionNumber" nillable="true" type="xsd:string"/>
            <xsd:element name="counselName" nillable="true" type="xsd:string"/>
            <xsd:element name="counselPhoneNumber" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="saveHearingResults">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="hearingResult" nillable="true" type="tns:HearingResult"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="HearingResult">
        <xsd:sequence>
            <xsd:element name="HearingResult" type="tns:HearingResult2"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="HearingResult2">
        <xsd:sequence>
            <xsd:element name="CaseDetails" type="tns:CaseDetails"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CaseDetails">
        <xsd:sequence>
            <xsd:element name="CaseTrackingID" type="xsd:decimal"/>
            <xsd:element name="CaseFiling" type="xsd:string"/>
            <xsd:element name="CaseAugmentation" type="tns:CaseAugmentation"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CaseAugmentation">
        <xsd:sequence>
            <xsd:element name="CaseHearing" type="tns:CaseHearing"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CaseHearing">
        <xsd:sequence>
            <xsd:element name="CourtEventAppearance" type="tns:CourtEventAppearance"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CourtEventAppearance">
        <xsd:sequence>
            <xsd:element name="CourtAppearanceCourt" type="xsd:string"/>
            <xsd:element name="CourtAppearanceDate" type="xsd:dateTime"/>
            <xsd:element name="CourtAppearanceCategoryText" type="xsd:string"/>
            <xsd:element name="CourtEventSequenceID" type="xsd:string"/>
            <xsd:element name="ActivityStatus" type="xsd:string"/>
            <xsd:element name="CancellationStatus" type="xsd:string"/>
            <xsd:element name="TimeMeasureDetails" type="tns:TimeMeasureDetails"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TimeMeasureDetails">
        <xsd:sequence>
            <xsd:element name="MeasureText" type="xsd:decimal"/>
            <xsd:element name="MeasureUnitText" type="xsd:string"/>
            <xsd:element name="MeasureEstimatedIndicator" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="saveHearingResultsResponse">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="fileNumbeSearchPublicAccess">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="filter" nillable="true" type="tns:FileNumberSearchFilter"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="fileNumbeSearchPublicAccessResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="courtFiles" nillable="true" type="tns:CourtFile"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getPingResponse">
    <wsdl:part element="tns:getPingResponse" name="getPingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeNotificationResponse">
    <wsdl:part element="tns:removeNotificationResponse" name="removeNotificationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveHearingResultsResponse">
    <wsdl:part element="tns:saveHearingResultsResponse" name="saveHearingResultsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllNotificationsResponse">
    <wsdl:part element="tns:getAllNotificationsResponse" name="getAllNotificationsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCourtFileResponse">
    <wsdl:part element="tns:getCourtFileResponse" name="getCourtFileResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hasNotificationResponse">
    <wsdl:part element="tns:hasNotificationResponse" name="hasNotificationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCourtBasicsResponse">
    <wsdl:part element="tns:getCourtBasicsResponse" name="getCourtBasicsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHealthResponse">
    <wsdl:part element="tns:getHealthResponse" name="getHealthResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="partyNameSearchResponse">
    <wsdl:part element="tns:partyNameSearchResponse" name="partyNameSearchResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPartiesResponse">
    <wsdl:part element="tns:getPartiesResponse" name="getPartiesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fileNumberSearchResponse">
    <wsdl:part element="tns:fileNumberSearchResponse" name="fileNumberSearchResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="unlinkFileResponse">
    <wsdl:part element="tns:unlinkFileResponse" name="unlinkFileResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="linkFileResponse">
    <wsdl:part element="tns:linkFileResponse" name="linkFileResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCeisConnectInfoResponse">
    <wsdl:part element="tns:getCeisConnectInfoResponse" name="getCeisConnectInfoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fileNumbeSearchPublicAccessResponse">
    <wsdl:part element="tns:fileNumbeSearchPublicAccessResponse" name="fileNumbeSearchPublicAccessResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNotificationsResponse">
    <wsdl:part element="tns:getNotificationsResponse" name="getNotificationsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="scss">
    <wsdl:operation name="getPing">
      <wsdl:output message="tns:getPingResponse" name="getPingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeNotification">
      <wsdl:output message="tns:removeNotificationResponse" name="removeNotificationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveHearingResults">
      <wsdl:output message="tns:saveHearingResultsResponse" name="saveHearingResultsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllNotifications">
      <wsdl:output message="tns:getAllNotificationsResponse" name="getAllNotificationsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCourtFile">
      <wsdl:output message="tns:getCourtFileResponse" name="getCourtFileResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hasNotification">
      <wsdl:output message="tns:hasNotificationResponse" name="hasNotificationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCourtBasics">
      <wsdl:output message="tns:getCourtBasicsResponse" name="getCourtBasicsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHealth">
      <wsdl:output message="tns:getHealthResponse" name="getHealthResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="partyNameSearch">
      <wsdl:output message="tns:partyNameSearchResponse" name="partyNameSearchResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParties">
      <wsdl:output message="tns:getPartiesResponse" name="getPartiesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fileNumberSearch">
      <wsdl:output message="tns:fileNumberSearchResponse" name="fileNumberSearchResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unlinkFile">
      <wsdl:output message="tns:unlinkFileResponse" name="unlinkFileResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="linkFile">
      <wsdl:output message="tns:linkFileResponse" name="linkFileResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCeisConnectInfo">
      <wsdl:output message="tns:getCeisConnectInfoResponse" name="getCeisConnectInfoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fileNumbeSearchPublicAccess">
      <wsdl:output message="tns:fileNumbeSearchPublicAccessResponse" name="fileNumbeSearchPublicAccessResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNotifications">
      <wsdl:output message="tns:getNotificationsResponse" name="getNotificationsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="scssSoap11" type="tns:scss">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPing">
      <soap:operation soapAction=""/>
      <wsdl:output name="getPingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeNotification">
      <soap:operation soapAction=""/>
      <wsdl:output name="removeNotificationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveHearingResults">
      <soap:operation soapAction=""/>
      <wsdl:output name="saveHearingResultsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllNotifications">
      <soap:operation soapAction=""/>
      <wsdl:output name="getAllNotificationsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCourtFile">
      <soap:operation soapAction=""/>
      <wsdl:output name="getCourtFileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hasNotification">
      <soap:operation soapAction=""/>
      <wsdl:output name="hasNotificationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCourtBasics">
      <soap:operation soapAction=""/>
      <wsdl:output name="getCourtBasicsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHealth">
      <soap:operation soapAction=""/>
      <wsdl:output name="getHealthResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="partyNameSearch">
      <soap:operation soapAction=""/>
      <wsdl:output name="partyNameSearchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParties">
      <soap:operation soapAction=""/>
      <wsdl:output name="getPartiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fileNumberSearch">
      <soap:operation soapAction=""/>
      <wsdl:output name="fileNumberSearchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unlinkFile">
      <soap:operation soapAction=""/>
      <wsdl:output name="unlinkFileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="linkFile">
      <soap:operation soapAction=""/>
      <wsdl:output name="linkFileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCeisConnectInfo">
      <soap:operation soapAction=""/>
      <wsdl:output name="getCeisConnectInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fileNumbeSearchPublicAccess">
      <soap:operation soapAction=""/>
      <wsdl:output name="fileNumbeSearchPublicAccessResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNotifications">
      <soap:operation soapAction=""/>
      <wsdl:output name="getNotificationsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="scssService">
    <wsdl:port binding="tns:scssSoap11" name="scssSoap11">
      <soap:address location="https://jag-scss-api-17b24e-dev.apps.silver.devops.gov.bc.ca:443/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>